<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study.b8a3">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".main.B8a3Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FirstActivity" />
        <activity android:name=".activity.SecondActivity">
            <intent-filter>
                <action android:name="com.study.b8a3.intent.SECOND_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecondMyActivity">
            <intent-filter>
                <action android:name="com.study.b8a3.intent.SECOND_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.study.b8a3.category.SECOND_ACTIVITY_MY" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".FloatingWindowActivity" />
        <activity
            android:name=".activity.LayoutActivity"
            android:process=":another" />
        <activity
            android:name=".activity.AnimationActivity"
            android:process="com.b8a3.another.process" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.ShimmerActivity" />
        <activity
            android:name=".weexdemo.WEEXMaintActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".touchstudy.TouchActivity" />

        <provider
            android:name=".contentprovider.B8a3Provider"
            android:authorities="com.study.b8a3.contentprovider.b8a3provider" />

    </application>

</manifest>